<web-app>
    <servlet>
        <servlet-name>aqa</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>aqa</servlet-name>
        <url-pattern>/aqa/*</url-pattern>
    </servlet-mapping>
</web-app>